body {
  background-color: #121212 !important;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  color: white;
}

#carousel-container {
  margin-bottom: 50px;
}

#carouselId {
  width: 100%;
  max-height: 400px;
}

.mark-slider {
  box-shadow: inset 0px -00px 300px rgba(0, 0, 0, 0.821) !important;
  border-radius: 16px;
}

.mark-slider>img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#list-slider {
  margin-left: 16px !important;
}

#list-slider > ul {
  height: 100%;
  margin-bottom: 0;
}

#list-slider>ul,
#list-slider>ul>li {
  list-style: none;
}
#list-slider>ul>li {
  height: 20% !important;
}

.slider {
  width: 160px;
  height: 20%;
  align-items: center;
  padding: 10px 0px;
  margin-top: 5px;
}

#list-slider > ul > li:nth-child(1){
  margin-top: 0px !important;
}

#list-slider > ul > li:hover {
  background-color: #363636;
  border-radius: 15px;
}

.thumbnail {
  display: block;
  width: 25%;
  margin: 0 10px;
}

.thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  
}

.title-thumbnail {
  font-size: 12px;
  letter-spacing: 0.17px;
  line-height: 1.5;
  color: rgb(245, 245, 245);
  z-index: 1;
  overflow: hidden;
  word-wrap: break-word;
  /* white-space: pre-line;  */
  line-height: 18px;
  width: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  text-overflow: ellipsis; 
}

.slider.active {
  background-color: #363636;
  border-radius: 15px;
  animation-name: animClick;
  animation-duration: 1s;
}

@keyframes animClick {
  50% { transform: scale(1.1);}
  100% {transform: scale1(1);}
}

/*----------Header---------*/
#web-navbar {
    background-color: #121212;
    height: 100px;
}

.navbar-brand > img{
    object-fit: contain;
    width: 35px;
    height: 35px;
}

.input-group-prepend .input-group-text {
    color: white;
    background-color: #202020;
    outline: none;
    border: none;
}

.input-group-prepend > .form-control {
    border-radius: 0 0.25rem 0.25rem 0;
}

#web-btn-sign-in {
  width: 85px;
}

@media (max-width: 992px) {
  #web-navbar-nav {
    display: none;
  }
}

/* SHOW SAN PHAM  */
.list-sp {
  margin-bottom: 50px;
}

.col>.card-thumbnail>img {
  width: 100%;
  height: calc(18vw);
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;

  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.col {
  padding: 0 1.5%;
}

.col>p {
  color: white;
  margin-bottom: 5px;
}

.col>p>b {
  font-weight: 400;
}

.card-btn-add {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 9%;
  right: 9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.card-sp:hover .card-thumbnail img {
  position: relative;
  opacity: 0.3;
}

.card-sp:hover .card-thumbnail .card-btn-add {
  opacity: 1;
}

.card-icon-add::before {
  font-family: "Font Awesome 5 Free";
  font-size: 28px;
  font-weight: 900;
  content: "\f055";
  color: white;
}

.card-icon-add:hover {
  transform: scale(1.3);
}

/* Result Search */
#btn-arrow-left {
  margin-right: 10px;
  color:white;
}

#btn-arrow-left:hover i {
  color: #363636;
}

/*------Sign In------*/
#tenDN, #matKhau, #info {
  width: 350px;
  height: 60px;
  border: 1px solid gainsboro;
  font: 18px inherit;
}

#account {
  width: 220px;
  height: 60px;
  border: 1px solid gainsboro;
  font: 18px inherit;
}

::placeholder {
  color: wheat;
  font-size: 16px;
}

#dangNhap, #dangKy {
  width: 350px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
}

.notify {
  margin-top: 20%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.notify > a {
  color: white;
  font-weight: bold;
}
