* {
	box-sizing: border-box;
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	text-decoration:none;
}

a:hover {
	text-decoration: none !important;
}

/* body */
body {
	background:#ffffff;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* content */
#content {
	min-height: 100vh;
}

/* footer */
footer {
	border-top:1px solid #999; 
	height:40px;
	margin:0 auto;
	padding:5px;
	text-align:center;
}

footer > div > a > b {
	vertical-align: middle;
}
