/* .menu
{
    background-color: black;
    color: black;
} */
.navbar {
    background-color: black;
}

.input-group-prepend .input-group-text {
    color: white;
    background-color: #202020;
    outline: none;
    border: none;
}

.input-group-prepend .form-control {
    border-radius: 0;
}



/* .form-group .has-search {
    background-color: #202020;
    outline: none;
}

.has-search .form-control {
    padding-left: 40px;
    border-radius: 15px;
    background-color: #202020;
    
}

.has-search .form-control input[type="text"]:focus
{
    background: transparent;
    color: white;
    outline: none;
    border: 2px solid #202020;
}


.has-search .form-control-feedback {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
    color: white;
} */
